/**********   GENERAL ****************/

* {
    box-sizing: border-box;
    font-family: 'Trirong', serif;
}

ul {
    list-style: none;
}

h3 {
    padding-left: 20px;
    font-size: 1rem;
    margin-bottom: 5px;
}

/**********   COLORS ****************/
:root {
    --white-color: rgb(253, 249, 249);
    --light-white: rgb(241, 240, 240);
    --light-grey: rgb(216, 216, 216);
    --grey-color: rgb(136, 133, 133);
    --dark-blue: #062D36;
    --light-blue: #107B93;
}

/**********   GRID LAYOUT ****************/

body {
    background-color: var(--white-color);
    display: grid;
    grid-template-columns: 70px 1fr;
    grid-template-rows: 70px 1fr;
    grid-template-areas: 
    "header header"
    "nav main";
}



nav {
    grid-area: nav;
    background-color: var(--dark-blue);
}

main {
    grid-area: main;
}


/**********   images and icons sizes ****************/

.bell,
#user img,
.nav-icon {
    height: 30px;
    width: 30px;
}

/**********   FLEX DISPLAYS AND CENTER ITEMS ****************/

header,
#user,
#search_bar h2,
#search_bar div,
.channel_stats {
    display: flex;
    align-items: center;
}

/**********   header ****************/
header {
    grid-area: header;
    background-color: var(--light-blue);
}

#app_name{
    margin: 0 auto;
    
}

#app_name span {
    font-family: 'Cabin Condensed', sans-serif;
    font-size: 1.5rem;
    color: var(--dark-blue);
    margin-right: -5px;
}

#app_name,
#user p {
    color: var(--white-color);
}


.bell{
    margin-right: 10px;
}

#user {
    padding-right: 20px;
}

#user img {
    border-radius: 50%;
    margin-right: 15px;   
}

#user p {
    font-size: 1.1rem;
}

#user * {
    display: none;
}


/**********  NAV ****************/

nav ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

nav li {
    width: 100%;
    margin: 10px 0;
    text-align: center;
}

.nav-icon {
    padding-top: 5px;
}

nav li:hover {
    border-left: 3px solid var(--light-blue);
}


/**********  SEARCH BAR ****************/

#search_bar {
    display: flex;
    height: 70px;
}

#search_bar h2 {
    font-size: 1.2em;
    font-weight: 200;
    height: 100%;
    padding: 0 20px;
    margin: 0;
    background-color: var(--white-color);
}

#search_input {
    height: 40px;
    width: 40%;
    border-radius: 5px;
    border: 2px solid var(--light-grey);
    margin-left: auto;
    position: relative;
}

#search_bar div {
    width: 90%;
    height: 100%;
    border-bottom: 2px solid var(--light-grey);
    border-left: 2px solid var(--light-grey);
    text-align: right;
    padding-right: 20px;
    background-color: var(--light-white);
}

#magnifier-image {
    height: 15px;
    width: 15px;
    position: absolute;
    right: 4%;
}

#search_input::placeholder {
    padding-left: 4%;
}

/**********  ALERTS ****************/

#alerts {
    margin: 15px 20px;
    padding: 10px;
    background-color: var(--light-blue);
    border-radius: 5px;
    color: var(--light-white);
    position: relative;
    display: none;
}

#alerts div {
    max-width: 95%;
}

#alerts span {
    font-weight: 600;
    margin-right: 10px;
}

#alerts p {
    margin: 0;
    font-size: .78rem;
}

#close_alert {
    position: absolute;
    padding: 6px;
    right: 6px;
    top: 0;
}

#close_alert:hover {
    cursor: pointer;
}

/**********   Gutters ****************/

.separation_top {

    margin-top: 30px;
    margin-bottom: 15px;
    border-top: 1px solid var(--light-grey);
}

/**********  POINTS CHART ****************/

#area-chart,
#donut_chart,
#bar_chart {
    max-width: 100%;
    padding: 10px 20px 0;
}

/**********  SOCIAL MEDIA INFO ****************/

#social_stats {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 10px;
    padding-bottom: 16px;
}

.channel_stats {
    height: 90px;
    flex-basis: 30%;
    background-color: var(--light-white);
    border-radius: 5px;
    border: 2px solid var(--light-grey);
}

#social_stats h3 {
    flex-basis: 100%;
    padding-left: 10px;
    margin-bottom: 20px;
}

.media_icon_1 {
    height: 30px;
    width: 30px;
    margin-top: 8px;
}

.media_icon_2 {
    height: 25px;
    width: 25px;
    margin-top: 13px;
}

.icon_wrapper {
    height: 50px;
    width: 50px;
    background-color: var(--light-blue);
    border-radius: 50%;
    margin: 0 10px;
    text-align: center;
}

.icon_wrapper path{
    fill: #FFF;
}

.media_wrapper h4 {
    font-size: .9rem;
    color: var(--light-blue);
}

.media_wrapper h4,
.media_wrapper p,
.member_email,
.member_name,
.date_joined,
.activity_done,
.activity_time {
    margin: 0;
}

.media_wrapper p {
    margin-top: -10px;
    font-size: 1.6rem;
}

/**********  NEW MEMBERS ****************/

.member {
    display: flex;
    margin: 0;
    border-bottom: 2px solid var(--light-white);
    padding-bottom: 10px;
    margin-left: 20px;
}

.member:first-child {
    padding-top: 15px;
}

.member img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 15px;
    
}

.member_data_wrapper {
    flex-basis: 65%;
    margin-right: auto;
}

.member_email {
    color: var(--light-blue);
    margin-top: -5px;
    font-size: .9rem;
}

.date_joined{
    flex-basis: 20%;
    color: var(--grey-color);
    font-size: .85rem;
}


/**********  MEMBER ACTIVITY ****************/

.activity_time {
    margin-top: -5px;
    font-size: .9rem;
    color: var(--grey-color);
}

#output_activity .member_data_wrapper {
    flex-basis: 75%;
}

.activity_details {
    font-size: 2rem;
    flex-basis: 5%;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 10px;
    color: var(--light-blue);
}

.activity_details:hover {
    cursor: pointer;
}

/**********  MESSAGE TO USER ****************/

#message_user {
    display: flex;
    flex-direction: column;
}

#message_user input,
#message_user textarea,
#message_user button {
    margin: 8.5px 20px;
    border-radius: 5px;
    padding: 7px;
    
}

#message_user input,
#message_user textarea {
    border: 1px solid var(--light-grey);
}

#message_user textarea {
    height: 120px;
}

#send_message {
    background-color: var(--light-blue);
    color: var(--white-color);
    border: none;
    padding: 10px;
}